

body {

    background-color: #fafafa;
}

.tab-wrap {

    border-radius: 5px;
}
.rightimgLi{
    width: 50%;
    display: block;
    float: left;
    padding: 15px 15px;
    height: 164px;
}
.rightimgLi img{max-width: 100%;
    height: 100%;
    width: 190px;
    vertical-align: middle;
     border-radius: 5px;
 }
.remen{width: 100%; height: auto; overflow: hidden; font-size: 14px;padding: 3px 5px;
color: #000;
text-transform: uppercase;
margin-bottom: 10px;
margin-top: 0;
font-weight: 700;
}
.jifen
{
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
}
.jifen p:nth-child(1)
{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: block;
    /*border: 2px solid #FF6534;*/
    float: left;
}
.jifen p:nth-child(1) img
{
    width: 100% !important;
    height: 100% !important;
    border-radius: 100%;
    display: block;
    margin-left: 20px;
}
.jifen p:nth-child(2)
{
    width: 150px;
    height: auto;
    display: block;
   float: left;
    margin-left: 35px;
    line-height: 50px;
}
.jifen p:nth-child(3)
{
    width: auto;
    height: auto;
    display: inline-block;
    float: right;
    margin-right: 20px;
    line-height: 50px;
}

@media screen and (max-width: 751px){
    .col-md-4 {
        width: 100% !important;
    }
}
.morebtn{width: 100%; height: 40px; background: #0d6aad; color: #fff; text-align: center; line-height: 40px; margin: 0 auto; border-radius: 10px;}


.peex
{
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    border-bottom:  1px solid #eee;
    margin-bottom: 15px;
}

.peex p:nth-child(1) img
{
    border-radius: 100%;
    display: block;
    margin-left: 10px;
    margin-top:15px;
    width: 50px;
    height: 50px;
}
.pel1 span{
    margin-left:5px;
}

.pel1 a{
    margin-left:5px;
    font-size:12px;
}
.pel2 {

    margin-left:5px;
    font-size: 12px;
    line-height: 16px;
}
.pel2 a{
    float:right;
    margin-right:20px;
    padding:1px;
    font-size:12px;
    line-height: 16px;
}
.pel3{
    font-size: 12px;
    margin-left:5px;
    line-height: 16px;
}
.badge1{
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 12px;
font-weight: bold;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
background-color: #999;
border-radius: 10px;

}
.pe_avatar{
    float:left;
}
.pe_info{
    margin-left:70px;
}
.peevent{
    padding:3px;
    font-size: 12px;
}
input[type="radio"] {
    margin-right: 4px;
}
.btn-primary {
    margin-top: 0px !important;
}
.muBlock{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0; background: red;
  z-index: 99999;opacity: 0;}
