{% extends 'layout.html' %}

{% block content %}
<div id="app">
<section id="blog" class="container">

    <div class="center">
            <h2>{{question.title}}</h2>
            <p class="lead"> <div v-html="question.content"></div></p>
        </div>
<div class="blog">
    <div class="row">
        <div class="col-md-8"> <!--main-->


                    <div class="tab-wrap" v-for= "a in question.answers">
                        <div class="parrent media-body" >
                            <div class="tab-content">
                                <div class="tab-pane fade  active in" id="tab1">
                                    <div class="media">
                                       <div class="pull-left">
                                            <img class="img-responsive" v-bind:src="a.thumbnail||'/static/img/avatar5.png'" style="max-height:240px;">
                                        </div>
                                        <div class="media-body">

                                             <p><div v-html="a.content"></div></p>
                                        </div>
                                    </div>
                                </div>


                            </div> <!--/.tab-content-->
                        </div>
                    </div> <!--tab-wrap-->






        </div> <!-- col-md-8-->
        <aside class="col-md-4"> <!-- right-->
        </aside> <!-- col-md-4-->
    </div> <!--row -->
</div> <!--blog-->

</section>
    <hr>
        <form  v-on:submit.prevent="sendAnswer">

            <textarea name="content" id="content" rows="20" cols="80">

            </textarea>
            <button  class="btn btn-primary"> 确认回答 </button>
        </form>
</div>
{% endblock %}


{% block externjs %}


        <script src="/ckeditor/ckeditor.js"></script>


        <script>

        function getUrlParam(name){

                var reg=new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r= window.location.search.substr(1).match(reg);

                if(r != null) {
                    return unescape(r[2]);
                }
                return null;
        }

        $(document).ready(function () {
          var myVue = new Vue({
            el: '#app',
        	data:{
                questionid:"",
                question:{}
            },
            created () {
                this.questionid = getUrlParam("questionid")

                if (this.questionid == null){
                    alert("没有问题？")
                    window.location.href="/zlj/index.html"
                }
                this.getanswers()
            },
            methods: {
                getanswers(){
                    var that = this
                    $.ajax({url:"/zlj/listanswer?questionid=" +that.questionid,
                        type: 'GET',
                        success: function(data){
                            that.question = data
                        }
                    })//ajax
                },
                sendAnswer () {

                  var content1 =  CKEDITOR.instances.content.getData();

                  var that = this
                  $.ajax({
                      type:"POST",
                      url:"/zlj/answer",
                      data:{
                        question:that.questionid,
                        content: content1
                        },
                    success:function(data){
                        if (data.code == 0){
                            window.location.reload()
                        }
                    }
                 })

                },
            },
          });// Vue

          CKEDITOR.replace( 'content' ,{

          });
        })

        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.


        </script>
{% endblock %}
