{% extends 'layout.html' %}

{% block content %}
<style>
    @font-face {
        font-family: 'iconfont';  /* project id 1595395 */
        src: url('//at.alicdn.com/t/font_1595395_kp2r7ia8t9i.eot');
        src: url('//at.alicdn.com/t/font_1595395_kp2r7ia8t9i.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_1595395_kp2r7ia8t9i.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_1595395_kp2r7ia8t9i.woff') format('woff'),
        url('//at.alicdn.com/t/font_1595395_kp2r7ia8t9i.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_1595395_kp2r7ia8t9i.svg#iconfont') format('svg');
    }
    .iconfont{ font-family:"iconfont"
    !important; font-size:14px;font-style:normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale;}
    .yiding{margin-left: 10px;}
    .yiding:hover {
        color: #999;
        opacity: 0.5;
        background: none;
    }
    .yiding:nth-child(1){margin-left: 15px !important;}
    .morebtn{width: 100%; height: 40px; background: #0d6aad; color: #fff; text-align: center; line-height: 40px; margin: 0 auto; border-radius: 10px;}
    @media (max-width: 640px)
    {
    .tab-wrap .media .media-body {
     width: 100%;
     clear: none !important;
    }
    }
</style>
<div id="app">
<section id="blog" class="container">


<div class="blog">
    <div class="row">
        <div class="col-md-8"> <!--main-->

            <div class="tab-wrap" style="border: 1px solid rgb(235, 236, 237);" v-for= "(a,index) in answers">
                <div class="parrent media-body">
                    <div class="tab-content" style="padding: 0px;">
                        <div id="tab1" class="tab-pane fade  active in" >
                            <h2 style="padding: 0px 20px; box-sizing: border-box; margin-top: 20px;">
                                <a :href="'answer.html?answerid='+a._id">{{a.question.title}}</a>
                            </h2>
                            <p class="huida" style="padding: 0px 20px; box-sizing: border-box;">{{a.question.answerCount}}回答</p>

                            <div  class="anwersuser">
                                <div class="media" style="padding: 0px 20px; box-sizing: border-box;">
                                    <!--<div class="pull-left" style="width: 124px; height: 124px;">-->
                                        <!--<img src="/static/uploads/158192403699543内容不存在_spec.png" alt="" class="img-responsive" style="width: 190px; height: 124px; margin-left: 10px;">-->
                                    <!--</div>-->
                                    <div class="media-body" style="margin-bottom: 10px; min-height: 150px;">
                                        <div class="userinfo" style="margin-bottom: 10px; box-sizing: border-box;"><img :src="a.author.avatar"  alt="" class="userimg">
                                            <i>{{a.author.name.first}}</i>|  <i style="margin-left: 0; font-weight: 400">{{a.updateTime|LocaleTime}}</i>
                                        </div>
                                        <p class="neirong"  style="color: #7f7d8e;" v-html="a.content"></p>
                                        <div @click="answerlike(a,index)" class="yiding" style="display: inline-block; height: 25px; overflow: hidden; line-height: 25px; border-radius: 3px; float: left;color: #4e4e4e; font-weight: lighter">
                                            <i class="iconfont" style="color: #FF6534!important; margin-right: 5px;" v-if="mylikes[index]==1">&#xe616;</i>
                                            <i class="iconfont" style="color: #cacaca;margin-right: 5px;"  v-else>&#xe616;</i>{{a.likeCount|Countfilter}}个赞
                                        </div>
                                        <div id="pl" class="yiding" style="display: inline-block; height: 25px; overflow: hidden; line-height: 25px; border-radius: 3px; float: left;color: #4e4e4e; font-weight: lighter">
                                            <i class="iconfont" style="color: rgb(202, 202, 202); font-size: 10px; line-height: 15px; float: left; margin-top: 6px; margin-right: 5px;"></i>{{a.commentCount|Countfilter}}评论
                                        </div>
                                        <div id="pl" class="yiding" style="display: inline-block; height: 25px; overflow: hidden; line-height: 25px; border-radius: 3px; float: left;color: #4e4e4e; font-weight: lighter">
                                            <i class="iconfont" style="color: rgb(202, 202, 202); font-size: 10px; line-height: 15px; float: left; margin-top: 6px; margin-right: 5px;"></i>{{a.pageviews|Countfilter}}浏览
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div> <!--tab-wrap-->

            <div class="morebtn" @click="getanswers()">加载更多</div>




        </div> <!-- col-md-8-->
        <aside class="col-md-4 rightimg" style="background: #fff; padding: 6px 8px;; border: 1px solid #eee; margin-top: 12px;"> <!-- right-->
            <div class="remen">热门话题</div>
            <div class="rightimgLi" v-for="a in hotanswers">
                <a :href="'/zlj/question.html?questionid='+a.question._id"><img :src="a.thumbnail" alt=""></a>
            </div>

        </aside> <!-- col-md-4-->
    </div> <!--row -->
</div> <!--blog-->

</section>
    <hr>

</div>
{% endblock %}


{% block externjs %}




        <script>

        function getUrlParam(name){

                var reg=new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r= window.location.search.substr(1).match(reg);

                if(r != null) {
                    return unescape(r[2]);
                }
                return null;
        }

        $(document).ready(function () {
          var myVue = new Vue({
            el: '#app',
        	data:{

                answers:[],
                mylikes:[],
                hotanswers:[],
                s:0,
            },
            created () {
                this.getanswers()
                this.getHotAnswers()
            },
            methods: {
                getanswers(){
                    var that = this
                    that.s = that.answers.length
                    $.ajax({url:"/zlj/answers?skip="+that.s,
                        type: 'GET',
                        success: function(data){

                          var a = that.answers
                          var l = that.mylikes

                          that.answers = a.concat(data.answers)
                          that.mylikes = l.concat(data.userlikes)

                        }
                    })//ajax
                },
                getHotAnswers(){

                        var that = this

                        $.ajax({url:"/zlj/answers?limit=6&sort=-likeCount",
                            type: 'GET',
                            success: function(data){

                              that.hotanswers = data.answers

                            }
                        })//ajax
                },
                answerlike (a,index) {
                    var that = this;
                    console.log(a._id);
                    if (that.mylikes[index] == 1){
                        that.mylikes[index] = 0
                    } else {
                        that.mylikes[index] = 1
                    }
                    $.ajax({url:"/zlj/answerlike?answerid=" +a._id,
                        type: 'GET',
                        success: function(data){
                            console.log(that)
                            a.likeCount = data.updatedObject.likeCount
                        }
                    })//ajax
                },

            },
          });// Vue


      }) //ready


        Vue.filter('Countfilter',function(count){
            if (count < 0){
                return 0
            } else {
                return count
            }
        })

        var VueMenu = new Vue({
          el: '#header',
         data:{
             active_a :"active",
          },
        })

        function toLocaleString(str){
            var d = new Date(str)
            return d.toLocaleString()
        }
        Vue.filter('LocaleTime',toLocaleString)


        </script>
{% endblock %}
