{% extends 'layout.html' %}

{% block content %}
<style>
    @font-face {
        font-family: 'iconfont';  /* project id 1595395 */
        src: url('//at.alicdn.com/t/font_1595395_kp2r7ia8t9i.eot');
        src: url('//at.alicdn.com/t/font_1595395_kp2r7ia8t9i.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_1595395_kp2r7ia8t9i.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_1595395_kp2r7ia8t9i.woff') format('woff'),
        url('//at.alicdn.com/t/font_1595395_kp2r7ia8t9i.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_1595395_kp2r7ia8t9i.svg#iconfont') format('svg');
    }
    .iconfont{ font-family:"iconfont"
    !important; font-size:14px;font-style:normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale;}
    .yiding:hover {
        color: #999;
       opacity: 0.5;
        background: none;
    }
    p,div {
        margin: 0 0 10px;
        text-align: left;
    }
    .muBlock{width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: red; z-index: 99999;opacity: 0;}
    @media screen and (max-width: 751px)
    {
        .item-list-content {
            width: 100% !important;
            height: auto;
            float: left;
             margin-left: 0px;
            border: none;
            padding: 0 15px;
        }
        .item-list-content input{
            border: 1px solid #ddd;
        }

    }
    @media (max-width: 640px)
    {
        .tab-wrap .media .media-body {
            width: 100%;
            clear: none !important;
        }
        .pull-left{
            display: none;
        }
    }
</style>
<div id="app">
<section id="blog" class="container">
<div class="blog">
    <div class="row">
        <div class="col-md-8"> <!--main-->
            <div class="center" style="padding-bottom: 0">
                <h2>{{answer.question.title}}</h2>
                <p> <div v-html="answer.question.content"></div></p>
                <form  v-on:submit.prevent="sendAnswer" style="margin-top: 20px; position: relative; display: none;margin-bottom: 30px; overflow: hidden">
                    <div id="Editcontent">

                    </div>
                    <i class="wenzi">分享你的真实观点和经验，通过汇编、洗稿的等方式拼凑的回答将会被折叠</i>
                    <button  class="btn btn-primary" style="float: right;background:#ddd; color:#666" v-if="user.id =='' || user.id == null || user.id == undefined" @click="goLogin()"> 请先登录</button>
                    <button  v-else class="btn btn-primary" style="float: right"> 我来回答</button>
                    <!--未登录状态下，下方div显示-->
                    <div class="muBlock" v-if="user.id =='' || user.id == null || user.id == undefined" @click="goLogin()">
                    </div>
                </form>
            </div>
            <h3 class="answer-count-h" v-if="answer.question.answers"><span>
               {{answer.question.answers.length}}个回答
            </span>
                <a :href="'/zlj/question.html?questionid='+answer.question._id" style="color:#7091ce; font-size: 14px; float: right">查看更多>></a>
            </h3>
                    <!-- answers -->
                    <div class="tab-wrap" >
                        <div class="huidalist" style="padding: 20px">
                            <div class="huidalistimg">
                                <img :src="answer.author.avatar" alt="">
                            </div>
                            <div class="huidalistinfo">
                                <span>{{answer.author.name.first}}</span>
                                <span>{{answer.createTime|LocaleTime}}</span>
                            </div>
                        </div>

                        <div class="parrent media-body"  >
                            <div class="tab-content" style="padding: 0;">
                                <div class="tab-pane fade  active in" id="tab1">
                                    <div class="media" style="padding: 0 20px; box-sizing: border-box;overflow: hidden">
                                        <div class="media-body" >
                                            <div v-html="answer.content" ></div>

                                        </div>

                                    </div>
                                    <div :class="userlike"   style="margin: 0;margin-top: 20px;  height: 40px;line-height: 40px;">
                                        <div @click="answerlike()" style="display: inline-block; height: 20px; overflow: hidden; line-height: 20px; margin-top: 10px;margin-left: 20px;" class="yiding">
                                            <!--<img :src="'/static/img/x1.png'" alt="" v-if="mylikes[index]==1" class="xinzan">-->
                                            <i class="iconfont" style="color: #FF6534!important;margin-right: 5px;" v-if="userlike==1">&#xe616;</i>
                                            <i class="iconfont" style="color: #cacaca;margin-right: 5px;"  v-else>&#xe616;</i>{{answer.likeCount|Countfilter}}个赞
                                        </div>
                                        <div @click="clickComment(answer)" style="display: inline-block; height: 20px; overflow: hidden; line-height: 20px; margin-top: 10px;margin-left: 10px;" class="yiding">
                                            <i class="iconfont" style="color: #cacaca;line-height: 10px; float: left; margin-top: 6px; margin-right: 5px;">&#xe63a;</i>
                                            {{answer.commentCount|Countfilter}}评论
                                        </div>

                                        <div  style="display: inline-block; height: 20px; overflow: hidden; line-height: 20px; margin-top: 10px;margin-left: 10px;" class="yiding">
                                            {{answer.pageviews|Countfilter}}次浏览
                                        </div>

                                    </div>
                                    <div class="pl_content" v-if="1">
                                        <div class="item-list" v-if="user">
                                            <div class="item-list-avatar"><img :src="user.avatar" alt=""></div>
                                            <!--未登录显示部分-->
                                            <div class="item-list-content" v-if="user.id =='' || user.id == null || user.id == undefined">
                                                <input data-node="comment-edit" name="name" placeholder="请先登录..." rows="8" :id="'writecomment'+answer._id" disabled="disabled"></input>
                                                <div class="fabiao" @click="sendComment(answer)"  style="margin-bottom: 0 !important;">
                                                    <span style="width: 100%;">发表</span>
                                                </div>
                                            </div>
                                            <!--已登录显示部分-->
                                            <div class="item-list-content" v-else>
                                                <input data-node="comment-edit" name="name" placeholder="写下你的评论..." rows="8" :id="'writecomment'+answer._id" ></input>
                                                <div class="fabiao" @click="sendComment(answer)"  style="margin-bottom: 0 !important;">
                                                    <span style="width: 100%;">发表</span>
                                                </div>
                                            </div>

                                        </div>
                                        <!--comment list -->
                                        <div class="item-list" v-if="answer.commentLoad" v-for="c in answer.comments">
                                            <div class="item-list-avatar"><img :src="c.author.avatar" alt=""></div>
                                            <div class="item-list-content" style="border: none">
                                                <div class="userinfoname">
                                                    {{c.author.name.first}}
                                                </div>
                                                <div>
                                                    {{c.content}}
                                                </div>
                                                <div>
                                                    {{c.createTime|LocaleTime}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--comment list-->


                                    </div>
                                </div>


                            </div> <!--/.tab-content-->
                        </div>

                    </div> <!--tab-wrap-->
                    <!-- answers end -->





        </div> <!-- col-md-8-->
        <aside class="col-md-4"> <!-- right-->
            <img src="/static/img/987654.jpg" alt="" class="tup" style="margin-top: 80px;">
        </aside> <!-- col-md-4-->
    </div> <!--row -->
</div> <!--blog-->
    <div class="loader" style="background: #fff; z-index: 99999;margin: 0;" v-if="loading==1">

        <div class="loading-2">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
        </div>
    </div>
</section>
    <hr>

</div>
{% endblock %}


{% block externjs %}


        <script src="/wangEditor/wangEditor.min.js"> </script>


        <script>

        function getUrlParam(name){

                var reg=new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r= window.location.search.substr(1).match(reg);

                if(r != null) {
                    return unescape(r[2]);
                }
                return null;
        }

        $(document).ready(function () {


          var myVue = new Vue({
            el: '#app',
        	data:{
                answerid:"",
                answer:{question:{title:"",content:""}},
                userlike:"",
                loading:1,
                user:{'id':'<%= user.id%>','avatar':'<%=user.avatar%>','name':'<%=user.name%>',},
            },
            created () {
                this.answerid = getUrlParam("answerid")

                if (this.answerid == null){
                    alert("没有问题？")
                    window.location.href="/zlj/index.html"
                }
                this.getanswers()
            },
            methods: {
                commentStart(a){
                    var that = this;

                    $.ajax({url:"/zlj/listcomment?answerid=" +a._id,
                        type: 'GET',
                        success: function(data){
                            a.comments = data.lists

                        }
                    })//ajax

                },
                goLogin(){
                    window.location.href="/zlj/login.html"
                },
                clickComment(a){
                    var that = this;

                    if (a.commentLoad && a.commentLoad == 1){
                        that.$set(a, `commentLoad`, 0)
                        return
                    } else {
                        that.$set(a, `commentLoad`, 1)
                        that.commentStart(a)
                        return
                    }
                },
                sendComment(a){
                    var that = this
                    var content1 = $("#writecomment"+a._id).val()
                    $.ajax({
                        type:"POST",
                        url:"/zlj/comment",
                        data:{
                          answerid:a._id+"",
                          content: content1
                          },
                        success: function(data){
                            console.log(data)
                            $("#writecomment"+a._id).val("")
                            a.commentCount += 1
                            that.commentStart(a)

                        }
                    })//ajax
                },
                getanswers(){
                    var that = this
                    $.ajax({url:"/zlj/answer?answerid=" +that.answerid,
                        type: 'GET',
                        success: function(data){
                            that.answer = data.answer
                            that.userlike = data.userlike
                            that.loading=0
                            share(data.answer)
                            that.$nextTick(function(){
                                var E = window.wangEditor
                                window.editor = new E('#Editcontent');

                                editor.customConfig.uploadImgServer = '/zlj/uploadimage?responseType=json';
                                editor.customConfig.uploadFileName = "image"
                                editor.create();

                            });

                        }
                    })//ajax
                },
                answerlike ( ) {


                    var that = this;
                    if (that.user.id ==""){
                        that.goLogin()
                    }

                    if (that.userlike == 1){
                        that.userlike = 0
                    } else {
                        that.userlike = 1
                    }
                    $.ajax({url:"/zlj/answerlike?answerid=" +that.answer._id,
                        type: 'GET',
                        success: function(data){
                            console.log(that)
                            that.answer.likeCount = data.updatedObject.likeCount
                        }
                    })//ajax
                },
                sendAnswer () {

                  var content1 =  $('#'+editor.textElemId).html()

                  var that = this
                  $.ajax({
                      type:"POST",
                      url:"/zlj/newanswer",
                      data:{
                        question:that.answer.question._id,
                        content: content1
                        },
                    success:function(data){
                        if (data.code == 0){
                            window.location.reload()
                        }
                    }
                 })

                },
            },
          });// Vue



        })

        function toLocaleString(str){
            var d = new Date(str)
            return d.toLocaleString()
        }
        Vue.filter('LocaleTime',toLocaleString)


        Vue.filter('Countfilter',function(count){
            if (count < 0){
                return 0
            } else {
                return count
            }
        })

        function htmlToText(str){
            var text =  str.replace(/<[^>]+>/g,"");//去掉所有的html标记
            return text.slice(0,80)
        }

        function getdesc(a){


           if (htmlToText(a.content).length > 4){
                    return htmlToText(a.content)

            } else {
                var share_desc = '<%= sysconf.share_desc%>'
                if (share_desc.length < 5){
                    share_desc = '有趣的心灵总会相遇。'
                }
                return share_desc;
            }
        }
        function getimg(a){
            if (a.thumbnail){
                return  "http://www.zhanluejia.net.cn"+a.thumbnail
            } else {
                return "http://www.zhanluejia.net.cn/static/img/logo.jpg"
            }
        }
        function share( a ){
            var url = encodeURIComponent(window.location.href.split("#"));
            var shareurl = window.location.href.split("#")[0]

            var title = "【战略家】" + a.question.title
            var desc =  getdesc(a)
            var img =  getimg(a)

            console.log(img)
            $.ajax({url:"/wxmp/getconfig?url=" +url,
                type: 'GET',
                success: function(data){
                    var params = data

                    params.jsApiList = [
                        'updateAppMessageShareData',
                        'updateTimelineShareData',
                        'hideOptionMenu'
                    ];
                    params.debug = false

                    wx.config(params)
                    wx.ready(function(){
                        // 分享给好友，或者群
                        wx.updateAppMessageShareData({
                            title: title, // 分享标题
                            desc: desc, // 分享描述
                            link: shareurl, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                            imgUrl:img  , // 分享图标
                            success: function () {
                            // 设置成功
                            }
                        })
                        //分享给朋友圈
                        wx.updateTimelineShareData({
                            title: title, // 分享标题
                            link: shareurl, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                            imgUrl: img, // 分享图标
                            success: function () {
                              // 设置成功
                            }
                        })//updateTimelineShareData

                    })

                }//success
            })//ajax

        } //share




        </script>
{% endblock %}
