{% extends 'layout.html' %}
{% block head %}
<link href="https://cdn.bootcss.com/jquery-jcrop/2.0.4/css/Jcrop.css" rel="stylesheet">
<style>
    .yiding{ padding: 0 10px;cursor: pointer;}
    .yiding:hover{
        background: #fff;
        opacity: 0.5;
        font-weight: 400;
    }

    .yiding img{margin: 0}
    @font-face {
        font-family: 'iconfont';  /* project id 1595395 */
        src: url('//at.alicdn.com/t/font_1595395_kp2r7ia8t9i.eot');
        src: url('//at.alicdn.com/t/font_1595395_kp2r7ia8t9i.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_1595395_kp2r7ia8t9i.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_1595395_kp2r7ia8t9i.woff') format('woff'),
        url('//at.alicdn.com/t/font_1595395_kp2r7ia8t9i.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_1595395_kp2r7ia8t9i.svg#iconfont') format('svg');
    }
    .iconfont{ font-family:"iconfont"
    !important; font-size:14px;font-style:normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale;}
    .navbar-nav>li {
        margin-left: 35px;
        padding-bottom: 0;
        border: none;
    }
    .tab-content1{
        display: inline-block;
        font-size: 16px;
        color: #333;
        height: 45px;
        line-height: 16px;
        margin-right: 60px;
        padding: 14px 0;
        text-align: center;
    }
    .active{
        color: #FF6534;
        font-weight: 700;
        background: #fff;
        border-bottom: 2px solid #FF6534;
    }
    .tab-content1 i{
        font-style: normal;
        margin-left: 5px;
    }
    .tab-content1:nth-child(1){
        margin-left: 20px;
    }
    .col-md-8 {
        width: 100%;
        padding: 0;
    }
    .jcrop-active{
        width: 100% !important;
    }
    .questStyle{width: 100%; height: auto; overflow: hidden; display: block; padding: 20px 24px; background: #fff; margin-top: 12px;}
    .questStyleTitle{
        font-size: 20px;
        line-height: 28px;
        margin: 0;
        color: inherit;
        font-weight: bold;
    }
    .answernumber{margin-top: 8px;
        font-size: 12px;
        color: #999; width: 100%; display: block; font-style: normal}
    .answerBtn{
        margin-top: 12px;
        font-size: 12px;
        line-height: 20px;
        height: 20px;
        color: #4173af;
    }

</style>

{% endblock %}
{% block content %}
<div id="myapp" style="margin-top: 20px;">
    <div class="contentwen container">
         <form enctype="multipart/form-data" method="POST" lang="zh-cn" id="uploadfile" style="width: 300px; float: left; overflow: hidden; background: #fff;padding: 30px;">
            <div class="weui-uploader__input-box" style="width: 108px; height: 108px;margin: 0 auto;">
                <label  class="btn btn-default" for="uploaderInput" style="padding: 0;border-radius: 100%; display: block; position: relative" v-if="changeOrbtn==1">
                    <img v-bind:src="userinfo.avatar"  style="width: 100%; height: auto; overflow: hidden; border-radius: 100%; display: block" />
                    <div style="width: 100%; height: 100%; overflow: hidden; border-radius: 100%; display: block; background: #000; position: absolute; top: 0; left: 0; opacity: 0.8; color: #fff; padding-top: 42px;">
                        编辑
                    </div>
                </label>
                <label  class="btn btn-default"  style="padding: 0;border-radius: 100%; display: block; " v-if="changeOrbtn==0">
                    <img v-bind:src="userinfo.avatar"  style="width: 100%; height: auto; overflow: hidden; border-radius: 100%; display: block" />
                </label>
                <input id="uploaderInput" class="weui-uploader__input" type="file" name="upload"  style="display:none;" accept="image/*" @change="Onchange(this)">
            </div>
             <div class="input-group mb-3" style="text-align: center;margin: 0 auto;">
                 <div class="input-group-prepend" v-if="changeOrbtn==0">
                     <span class="input-group-text" style="padding:10px;font-size: 24px;vertical-align: middle; margin-top: 20px;display: block;line-height: 36px;">{{userinfo.nickname}}</span>
                 </div>
                 <input type="text" class="form-control" placeholder="Username" v-model="userinfo.nickname" style="text-align: center;margin-top: 20px;" v-if="changeOrbtn==1">
             </div>
             <canvas id="myCanvas"  width="500" height="300" style="display:none;"></canvas>
             <span style="color: #406599; text-align: center; display: block; margin-top: 16px;" @click="btnChange" v-if="changeOrbtn==0">编辑个人信息</span>
             <button @click="updateuser" class="btn btn-primary" v-if="changeOrbtn==1" style="margin-left: 28px;width: 76%;"> 确认 </button>
             <!--<button @click="closeChange" class="btn btn-primary" v-if="changeOrbtn==1" style="background: #999; margin-left: 20px;"> 取消 </button>-->
        </form>
        <div style="width: 660px; margin-left: 340px;">
            <div style="width: 100%; height: 44px; background: #fff" class="tabnavmenu">
                <span :class="{active:active==index}" class="tab-content1" style="" v-for="(item,index) in tabListmenu" @click="reds(index)">{{item.name}} <i>{{item.number}}</i></span>
                <!--<span class="tab-content active">提问<i>1</i></span>-->
            </div>
            <div class="col-md-8">
                <!--回答样式-->
                <div class="tab-wrap" style="border: 1px solid rgb(235, 236, 237);" v-if="active==1">
                <div class="parrent media-body"  v-for="q in questions">
                    <div class="tab-content" style="padding: 0px;">
                        <div id="tab1" class="tab-pane fade  active in" >
                            <h2 style="padding: 0px 20px; box-sizing: border-box; margin-top: 20px;">
                                <a v-bind:href="'/zlj/answer.html?questionid='+q._id">{{q.title}}</a>
                            </h2>
                            <p class="huida" style="padding: 0px 20px; box-sizing: border-box;">{{q.answerCount}}回答</p>

                            <div v-for="item in q.answers" class="anwersuser">
                                <div class="media" style="padding: 0px 20px; box-sizing: border-box;">
                                    <div class="pull-left" style="width: 124px; height: 124px;">
                                        <img v-bind:src="item.thumbnail||'/static/img/132465.jpg'"  class="img-responsive" style="width: 190px; height: 124px; margin-left: 10px;">
                                    </div>
                                    <div class="media-body" style="margin-bottom: 10px; min-height: 150px;">
                                        <div class="userinfo" style="margin-bottom: 10px; box-sizing: border-box;"><img :src="item.author.avatar" alt="" class="userimg">
                                            <i>{{item.author.name.first}}</i>|  <i style="margin-left: 0; font-weight: 400">{{item.createTime|LocaleTime}}</i>
                                        </div>
                                        <p class="neirong"  style="color: #7f7d8e;">{{item.content|HtmltoText}}</p>
                                        <div class="yiding" style="display: inline-block; height: 25px; overflow: hidden; line-height: 25px; border-radius: 3px; float: left;color: #4e4e4e; font-weight: lighter">
                                            <i class="iconfont" style="color: rgb(202, 202, 202); !important;"></i>{{item.likeCount|Countfilter}}赞
                                        </div>
                                        <div id="pl" class="yiding" style="display: inline-block; height: 25px; overflow: hidden; line-height: 25px; border-radius: 3px; float: left;color: #4e4e4e; font-weight: lighter">
                                            <i class="iconfont" style="color: rgb(202, 202, 202); font-size: 10px; line-height: 15px; float: left; margin-top: 6px; margin-right: 5px;"></i>{{item.commentCount|Countfilter}}评论
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

                <!--提问样式-->
                <div class="anwersuser" v-if="active==0">
                    <div class="questStyle">
                        <span class="questStyleTitle">疫情过后，你最想做的一件事是什么呢？疫情过后，你最想做的一件事是什么呢？疫情过后，你最想做的一件事是什么呢？</span>
                        <i class="answernumber">10回答</i>
                        <a href="#" class="answerBtn">回答</a>
                    </div>
                </div>
            </div>





    </div>



<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> 裁剪头像</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <img id="preview1" style="max-width:100%; padding:20px;"  />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button @click="UploadImage" class="btn btn-primary" > 确认上传 </button>
      </div>
    </div>
  </div>
</div>

</div> <!-- id myapp-->

{%endblock%}

{% block externjs %}

    <script src="https://cdn.bootcss.com/jquery-jcrop/2.0.4/js/Jcrop.js"></script>
<script>
$(document).ready(function () {
    $("#modifyinfo").hide()
  var myVue = new Vue({
    el: '#myapp',
	data:{
	 userinfo: {avatar: '/static/default-img.png',nickname:""},

	  x: 0,
      y: 0,
      x2: 0,
      y2: 0,
      clip: 0,
      loadfile: 0,
      changeOrbtn:0,
      tabListmenu:[
            {
                name:"提问",
                number:1
            },
            {
                name:"回答",
                number:2
            }
        ],
       active:0,
       questions:[],
       answers:[],

	},

	created () {
    	this.getUserInfo()

  	},
  	methods: {
        reds:function(index){
            this.active = index;
            console.log(index)
        },
        closeChange(){
            this.changeOrbtn=0
        },
        btnChange(){
            this.changeOrbtn=1
        },
    	getUserInfo () {
      		var that = this
			$.ajax({url:"/zlj/my",
                type: 'GET',
                success: function(data){
					console.log(data)
                    if (data.code ||data.isAdmin){
                        window.location.replace("/zlj/login.html")
                    }
					that.userinfo.avatar = data.avatar
					that.userinfo.nickname = data.name.first

                    that.getQuestions()
                    that.getAnswers()
				}
        	})
    	},
        getQuestions(){
            var that = this
            $.ajax({url:"/zlj/myquestions",
                type: 'GET',
                success: function(data){

                    that.questions = data.questions

                }
            })
        },
        getAnswers(){
            var that = this
            $.ajax({url:"/zlj/myanswers",
                type: 'GET',
                success: function(data){
                    that.answers = data.answers
                }
            })
        },

		Onchange (f) {
      		/* eslint-disable */
      		var that = this
      		var target = f.target || window.event.srcElement
      		var reader = new FileReader();
      		reader.onload = function (e) {
        		$('#preview1').attr('src', e.target.result);
                $("#modifyinfo").show()
                $('#mymodal').modal('show')

    			jQuery(function($) {
    			  $('#preview1').Jcrop({
    				aspectRatio:1,
    				minSize:[120,120],
    				maxSize:[240,240],
            		onSelect: that.showCoords,
            		onChange: that.showCoords
          		  })
                });

			}
      		reader.readAsDataURL(target.files[0]);

			this.loadfile = 1

      	/* eslint-enable */
    	},//onchange
        UploadImage(){
             var canvas = document.getElementById('myCanvas');
             var imgData = canvas.toDataURL();
             var that = this

             const config = { headers: { 'Content-Type': 'multipart/form-data' } };
             var filename  =document.getElementById('uploadfile')[0].files[0].name
             $.ajax({url:"/zlj/uploadavatar",
                 type: 'POST',
                 config,
                 data:{img:imgData,filename:filename},
                 success: function(data){
                        that.userinfo.avatar = data.avatarurl
                        $('#mymodal').modal('hide')
                 }
             })

        },
        updateuser(){
                var that = this
                $.ajax({url:"/zlj/updateuser",
                    type: 'POST',
                    data:{avatarurl:that.userinfo.avatar,firstname:that.userinfo.nickname},
                    success: function(data){
                           console.log(data)
                           alert("修改完成")
                    }
                })
        },
	  showCoords (c) {
      	console.log(c)
      	this.x = c.x
      	this.y = c.y
      	this.x2 = c.x2
      	this.y2 = c.y2
      	this.clip = 1
        var w = this.x2 - this.x
        var h = this.y2 - this.y
	    var canvas = document.getElementById('myCanvas');
		var img = document.getElementById('preview1')
		var context = canvas.getContext('2d')
        canvas.width = w
        canvas.height = h
		context.drawImage(img,this.x,this.y,w,h,0,0,w,h)
       },
	},//methods
  })
console.log(myVue)
    var VueMenu = new Vue({
      el: '#header',
     data:{
         active_m : "active",
      },
    })
    Vue.filter('Countfilter',function(count){
        if (count < 0){
            return 0
        } else {
            return count
        }
    })

    function HtmltoText(str){
        return str.replace(/<[^>]+>/g,"");//去掉所有的html标记
    }
    Vue.filter('HtmltoText',HtmltoText)

    function toLocaleString(str){
        var d = new Date(str)
        return d.toLocaleString()
    }
    Vue.filter('LocaleTime',toLocaleString)
})
</script>
{%endblock%}
