{% extends 'layout.html' %}
{% block head %}
<link href="https://cdn.bootcss.com/jquery-jcrop/2.0.4/css/Jcrop.css" rel="stylesheet">


{% endblock %}
{% block content %}

<div id="myapp">
    <div class="contentwen container">




         <form enctype="multipart/form-data" method="POST" lang="zh-cn" id="uploadfile">
            <div class="weui-uploader__input-box" style="padding:10px;">
                <label  class="btn btn-default" for="uploaderInput">    	<img v-bind:src="userinfo.avatar"  style="max-width:100%; padding:20px;" /></label>
                <input id="uploaderInput" class="weui-uploader__input" type="file" name="upload"  style="display:none;" accept="image/*" @change="Onchange(this)">
            </div>
        </form>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" style="padding:10px;"> </span>
            </div>
            <input type="text" class="form-control" placeholder="Username" v-model="userinfo.nickname">
        </div>


    	<canvas id="myCanvas"  width="500" height="300" style="display:none;">     </canvas>
        <button @click="updateuser" class="btn btn-primary" > 修改用户资料 </button>
    </div>



<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> 裁剪头像</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <img id="preview1" style="max-width:100%; padding:20px;"  />

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button @click="UploadImage" class="btn btn-primary" > 确认上传 </button>
      </div>
    </div>
  </div>
</div>

</div> <!-- id myapp-->

{%endblock%}

{% block externjs %}

    <script src="https://cdn.bootcss.com/jquery-jcrop/2.0.4/js/Jcrop.js"></script>
<script>
$(document).ready(function () {
    $("#modifyinfo").hide()
  var myVue = new Vue({
    el: '#myapp',
	data:{
	 userinfo: {avatar: '/static/default-img.png',nickname:""},

	  x: 0,
      y: 0,
      x2: 0,
      y2: 0,
      clip: 0,
      loadfile: 0,

	},

	created () {
    	this.getUserInfo()
  	},
  	methods: {
    	getUserInfo () {
      		var that = this
			$.ajax({url:"/zlj/my",
                type: 'GET',
                success: function(data){
					console.log(data)
                    if (data.code ||data.isAdmin){
                        window.location.replace("/zlj/login.html")
                    }
					that.userinfo.avatar = data.avatar
					that.userinfo.nickname = data.name.first

				}
        	})
    	},
		Onchange (f) {
      		/* eslint-disable */
      		var that = this
      		var target = f.target || window.event.srcElement
      		var reader = new FileReader();
      		reader.onload = function (e) {
        		$('#preview1').attr('src', e.target.result);
                $("#modifyinfo").show()
                $('#mymodal').modal('show')

    			jQuery(function($) {
    			  $('#preview1').Jcrop({
    				aspectRatio:1,
    				minSize:[120,120],
    				maxSize:[240,240],
            		onSelect: that.showCoords,
            		onChange: that.showCoords
          		  })
                });

			}
      		reader.readAsDataURL(target.files[0]);

			this.loadfile = 1

      	/* eslint-enable */
    	},//onchange
        UploadImage(){
             var canvas = document.getElementById('myCanvas');
             var imgData = canvas.toDataURL();
             var that = this

             const config = { headers: { 'Content-Type': 'multipart/form-data' } };
             var filename  =document.getElementById('uploadfile')[0].files[0].name
             $.ajax({url:"/zlj/uploadavatar",
                 type: 'POST',
                 config,
                 data:{img:imgData,filename:filename},
                 success: function(data){
                        that.userinfo.avatar = data.avatarurl
                        $('#mymodal').modal('hide')
                 }
             })

        },
        updateuser(){
                var that = this
                $.ajax({url:"/zlj/updateuser",
                    type: 'POST',
                    data:{avatarurl:that.userinfo.avatar,firstname:that.userinfo.nickname},
                    success: function(data){
                           console.log(data)
                           alert("修改完成")
                    }
                })
        },
	  showCoords (c) {
      	console.log(c)
      	this.x = c.x
      	this.y = c.y
      	this.x2 = c.x2
      	this.y2 = c.y2
      	this.clip = 1
        var w = this.x2 - this.x
        var h = this.y2 - this.y
	    var canvas = document.getElementById('myCanvas');
		var img = document.getElementById('preview1')
		var context = canvas.getContext('2d')
        canvas.width = w
        canvas.height = h
		context.drawImage(img,this.x,this.y,w,h,0,0,w,h)
       },
	},//methods
  })
console.log(myVue)
})
</script>
{%endblock%}
