{% extends 'layout.html' %}

{% block content %}
<div id="app">
<section id="blog" class="container">


<div class="blog">
    <div class="row">
        <div class="col-md-8"> <!--main-->
        <form v-on:submit.prevent="sendPeInfo" style="margin-top: 20px;">

            <div class="input-group" style="width: 90%; margin-bottom: 20px;">
              <i style="font-style: normal;display: block; float: left;; line-height: 30px;width:100% !important;">直接粘贴抖音/快手视频的文本链接<span style="color:#ff0000">请勿改动</span></i>
            </div>
            <input type="radio" name="eventType" value="1" checked>关注
            <input type="radio" name="eventType" value="2">点赞
            <input type="radio" name="platform" value="1" checked>抖音
            <input type="radio" name="platform" value="2">快手
            <textarea class="form-control" id="content" style="width:95%;" rows=3></textarea>



            <button  class="btn btn-primary" style="float: right"> 确认</button>
            <div class="muBlock" v-if="user.id =='' || user.id == null || user.id == undefined" @click="goLogin()"> </div>
        </form>



        <div class="tab-wrap" style="margin-top:60px;">

         <div class="panel panel-default">
          <!-- Default panel contents -->
            <div class="panel-heading">
                <a href="/zlj/pusheventexs.html">交易广场</a>|
                <a style="color:#FF0000">我的需求</a>|
                <a href="/zlj/mypushdone.html">我完成的</a>|
                <a href="/zlj/mypusheventexs.html">我的消息</a>|
                <a href="/zlj/newpe.html">我要发布</a>

            </div>
          </div>
          <!-- Table -->
          <div class="jifen" v-for="(pe,index) in pushevents">
              <p><img :src="pe.author.avatar" style="width:80px;height:80px;"></p>
              <p>{{pe.platform|platformname}}-{{pe.nickname|nicknameshort}}
              </p>
              <p><a :href="pe|linkAddresspe" >求{{pe.eventType|eventName}}</a></p>
          </div>

        </div> <!--tab-wrap-->


        <div class="morebtn" @click="getpushevents()">加载更多</div>

       </div> <!--col md 8 -->
    </div><!-- row -->
</div> <!--blog-->
</section>



<div class="modal" tabindex="-1" role="dialog" id="mymodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{modaltitle}}</h5>

      </div>
      <div class="modal-body">
        <p>{{modalcontent}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" @click="sendOK" v-if="modalok">{{modalok}}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>



</div> <!-- app id-->
{% endblock %}


{% block externjs %}


    <script src="/wangEditor/wangEditor.min.js"> </script>

    <script>


        $(document).ready(function () {
 


              var myVue = new Vue({
                el: '#app',
                data:{
                    uid:"", //用户id
                    itemId:"", //视频id
                    pushevents:[],
                    s:0,

                    modaltitle:"提示",
                    modalcontent:"换行",
                    modalok:"",
                    modalCall:"",
                    user:{'id':'<%= user.id%>','avatar':'<%=user.avatar%>','name':'<%=user.name%>',},
                },
                created () {
                    this.getpushevents()

                },
                methods: {
                    sendOK(){
                        console.log("ok")
                        this.modalCall()
                    },

                    sendPeInfo () {

                      var content1 = $("#content").val()
                      var eventType = $("input[name='eventType']:checked").val();
                      var platform = $("input[name='platform']:checked").val();
                      var that = this
                      console.log(content1)
                      $.ajax({
                          type:"POST",
                          url:"/zlj/createpe",
                          data:{
                            content: content1,
                            eventType:eventType,
                            platform:platform
                            },
                        success:function(data){
                            if(data.code != 0){
                                that.modalcontent = data.message
                                $("#mymodal").modal("show")
                            } else {
                                window.location.reload()
                            }

                        }
                      }) //ajax

                    }, //sendDyInfo
                    goLogin(){
                        window.location.href="/zlj/login.html"
                    },
                    getpushevents(){
                        var that = this
                        that.s = that.pushevents.length
                        $.ajax({url:"/zlj/listpushevent?myevent=1&skip="+that.s,
                            type: 'GET',
                            success: function(data){
                                var  a = that.pushevents

                                that.pushevents = a.concat(data.pushevents)

                            }
                        })//ajax

                    },
                }, //methods
              });// Vue

              new Vfilter();

        })


    </script>
{% endblock %}
