{% extends 'layout.html' %}

{% block content %}
<div id="app">
        <div class="contentwen container">


        <form v-on:submit.prevent="sendQuestion" style="margin-top: 20px;">

            <div class="input-group" style="width: 100%; margin-bottom: 20px;">
              <i style="font-style: normal;display: block; float: left;width: 10%; line-height: 30px;">请输入问题：</i><input type="text" class="form-control"  id="title" style="float: left; width: 90%;">
            </div>
            <div id="content">

            </div>

            </textarea>
            <i class="wenzi">分享你的真实观点和经验，通过汇编、洗稿的等方式拼凑的回答将会被折叠</i>
            <button  class="btn btn-primary" style="float: right"> 确认</button>
        </form>
        </div>
</div>
{% endblock %}


{% block externjs %}


    <script src="/wangEditor/wangEditor.min.js"> </script>

    <script>


        $(document).ready(function () {
              var myVue = new Vue({
                el: '#app',

                methods: {

                    sendQuestion () {


                      var content1 =  editor.txt.html()
                      var title1 = $('#title').val();
                      var that = this
                      console.log(content1)
                      $.ajax({
                          type:"POST",
                          url:"/zlj/newquestion",
                          data:{
                            title:title1,
                            content: content1
                            },
                        success:function(data){
                            if (data.code == 0){
                                window.location.replace("/zlj/index.html")
                            }
                        }
                      }) //ajax

                    }, //sendQuestion
                }, //methods
              });// Vue
              var E = window.wangEditor
               var editor = new E('#content')
               editor.customConfig.uploadFileName = "image"
               editor.customConfig.uploadImgServer = '/zlj/uploadimage?responseType=json';

               editor.create()

               var VueMenu = new Vue({
                 el: '#header',
                data:{
                    active_q :"active",
                 },
               })

        })


    </script>
{% endblock %}
