{% extends 'layout.html' %}

{% block content %}
        <form action="/zlj/newquestion" method="POST">

            <div class="input-group">
              请输入问题：<input type="text" class="form-control"  name="title">
            </div>
            <textarea name="content" id="content" rows="20" cols="80">

            </textarea>
            <button class="btn btn-primary"> 发布问题 </button>
        </form>

{% endblock %}


{% block externjs %}

        <script src="/ckeditor/ckeditor.js"></script>


        <script>


        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace( 'content' ,{

        });

        </script>
{% endblock %}
